<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- wybieram dostawcę danych-->
    <add key="provider" value="System.Data.SqlClient"/>
    <!-- łańcuch połączenia -->
    <add key="connectionString" value="Data Source=LUKASZ-LAPTOP\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=True;Pooling=False"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
